<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoviesByLuck</title>
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="logo">
           <a href="/"><p>movies by luck</p></a></div>
            <ul>
                <li><a href="/signup">Create New Account</a></li>
                <li><a href="/login" class="active">Signin</a></li>
                <li><a href="/list">secret</a></li>
                
            </ul>
        </nav>

    <div class='scards'>
        <div class="cards">
            <div className="card">
                <img src="./movie image/No Way Home (2021).jpg" alt="myPic" className="card__img" />
                <div class="card__info">
                    <h3 class="card__tittle">
                        Download Spider-Man: No Way Home (2021) </h3>
                    <a href="https://themoviesverse.co/download-spider-man-no-way-home-2021-hindi-english-bluray-480p-720p-1080p/" target="_blank">
                        <button> Watch Now</button>
                    </a>    
                </div>
            </div>
        </div>

        <div class="cards">
            <div className="card">
                <img src="./movie image/The Adam Project.jpg" alt="myPic" className="card__img" />
                <div class="card__info">
                    <h3 class="card__tittle">
                       Download The Adam Project (2022) </h3>
                    <a href="https://themoviesverse.co/download-the-adam-project-2022-hindi-english-480p-720p-1080p/" target="_blank">
                        <button> Watch Now</button>
                    </a>    
                </div>
            </div>
        </div>

        <div class="cards">
            <div className="card">
                <img src="./movie image/venom 2.jpg" alt="myPic" className="card__img" />
                <div class="card__info">
                    <h3 class="card__tittle">
                        Download Venom: Let There Be Carnage (2021) </h3>
                    <a href="https://themoviesverse.co/download-venom-let-there-be-carnage-2021-hindi-480p-720p-1080p/" target="_blank">
                        <button> Watch Now</button>
                    </a>    
                </div>
            </div>
        </div>

        <div class="cards">
            <div className="card">
                <img src="./movie image/Download Spider-Man 3 (2007).jpg" alt="myPic" className="card__img" />
                <div class="card__info">
                    <h3 class="card__tittle">
                        Download Spider-Man 3 (2007) </h3>
                    <a href="https://themoviesverse.co/download-spider-man-3-2007-hindi-480p-720p-1080p/" target="_blank">
                        <button> Watch Now</button>
                    </a>    
                </div>
            </div>
        </div>

        <div class="cards">
            <div className="card">
                <img src="./movie image//Download Spider-Man 2.jpg" alt="myPic" className="card__img" />
                <div class="card__info">
                    <h3 class="card__tittle">
                        Download Spider-Man 2 </h3>
                    <a href="https://themoviesverse.co/download-spider-man-2-2004-hindi-480p-720p-1080p/" target="_blank">
                        <button> Watch Now</button>
                    </a>    
                </div>
            </div>
        </div>

        <div class="cards">
            <div className="card">
                <img src="./movie image/Download Spider-Man (2002).jpg" alt="myPic" className="card__img" />
                <div class="card__info">
                    <h3 class="card__tittle">
                        Download Spider-Man (2002) </h3>
                    <a href="https://themoviesverse.co/download-spider-man-2002-hindi-480p-720p-1080p/" target="_blank">
                        <button> Watch Now</button>
                    </a>    
                </div>
            </div>
        </div>

        <div class="cards">
            <div className="card">
                <img src="./movie image/Download The Amazing Spider-Man 2 (2014).jpg" alt="myPic" className="card__img" />
                <div class="card__info">
                    <h3 class="card__tittle">
                        Download The Amazing Spider-Man 2 (2014) </h3>
                    <a href="https://themoviesverse.co/download-the-amazing-spider-man-2-2014-hindi-480p-720p-1080p/" target="_blank">
                        <button> Watch Now</button>
                    </a>    
                </div>
            </div>
        </div>

        <div class="cards">
            <div className="card">
                <img src="./movie image/Download The Amazing Spider-Man (2012).jpg" alt="myPic" className="card__img" />
                <div class="card__info">
                    <h3 class="card__tittle">
                        Download The Amazing Spider-Man (2012) </h3>
                    <a href="https://themoviesverse.co/download-the-amazing-spider-man-2012-hindi-480p-720p-1080p/" target="_blank">
                        <button> Watch Now</button>
                    </a>    
                </div>
            </div>
        </div>

        <div class="cards">
            <div className="card">
                <img src="./movie image/Download SpiderMan- Far from Home (2019).jpg" alt="myPic" className="card__img" />
                <div class="card__info">
                    <h3 class="card__tittle">
                        Download SpiderMan- Far from Home (2019) </h3>
                    <a href="https://themoviesverse.co/download-spider-man-far-from-home-480p-720p-1080p/" target="_blank">
                        <button> Watch Now</button>
                    </a>    
                </div>
            </div>
        </div>

        <div class="cards">
            <div className="card">
                <img src="./movie image/Download SpiderMan- Homecoming (2017).jpg" alt="myPic" className="card__img" />
                <div class="card__info">
                    <h3 class="card__tittle">
                        Download SpiderMan- Homecoming (2017) </h3>
                    <a href="https://themoviesverse.co/download-spider-man-homecoming-2017-hindi-480p-720p-1080p/" target="_blank">
                        <button> Watch Now</button>
                    </a>    
                </div>
            </div>
        </div>
    </div>
</body>
</html>