<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoviesByLuck</title>
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
<div class="logo">
   <a href="/"><p>movies by luck</p></a></div>
    <ul>
    
        <li><a href="/logout">   Logout</a></li>
    </ul>
</nav>
    
    <ul>
        <li>you are first</li>
        <li>you are second</li>
        <li>you are third</li>
      </ul>
      <ol>
        <li>you are one </li>
        <li>you are two</li>
        <li>you are three</li>
      </ol>
</body>
</html>
</body>
</html>