<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoviesByLuck</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
<div class="logo">
   <a href="/"><p>movies by luck</p></a></div>
    <ul>
        <li><a href="/signup" class="active">Create new account</a></li>
        <li><a href="/list">secret</a></li>
        {{!-- <li><a href="/logout">Logout</a></li> --}}
    </ul>
</nav>

    <div class="dir">
    <div class="box">
    <form action="/login" method="POST">
    <div class='wave-container'>
        <h1>Sign_In</h1>
        <div class='wave'></div>
        <div class='wave wave2'></div>
        <div class='wave wave3'></div>
    </div>
       
            <input type="email" required placeholder="Enter your email" name="myemail">
        <br>
            <input type="password" required placeholder="Password" name="mypassword">
        <br>
        <div class="sub">
            <input type="submit" value="login">
        </div>
    </form>
    </div>
    </div>
</body>
</html>