<nav>
<div class="logo">
    <p>moviesluck</p></div>
    <ul>
        <li><a href="/login" class="active">Signin</a></li>
        <li><a href="/list">secret</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
